* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Corpo */

body {
    background: #0e153a;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 50px auto;
    background-color: #86899c;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container ul li {
    list-style-type: none;
}

.menu {
    padding: 5px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}