* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Corpo */

body {
    background: #0e153a;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
    padding: 5px;
}

.menu a {
    text-decoration: none;

}